@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
audio::-webkit-media-controls {
  align-items: flex-end;
}

audio::-webkit-media-controls-enclosure {
  width: min-content;
  background: #a445ed;
}

audio::-webkit-media-controls-panel {
  min-width: 25px;
  width: 36px;
  overflow: hidden;
}

audio::-webkit-media-controls-play-button {
  background-image: url("/images/icon-play.svg");
  background-size: 60px;
  border-radius: 50%;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-volume-control-container {
  display: none !important;
}
